@if (isVisible) {
  <div class="overlay">
    <div class="loader_content">
      <svg class="bracket bracket_l" viewBox="0 0 50 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40 10 L10 30 L40 50" stroke="#3DCFB6" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div class="name_container">
        <span class="name_text">Jan-Oliver Kämmerer</span>
      </div>
      <svg class="bracket bracket_r" viewBox="0 0 50 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 10 L40 30 L10 50" stroke="#3DCFB6" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
}
